* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: white;
    font-family: Georgia, serif;
}

header {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
}

header h2 {
    font-size: 17px;
}

header p {
    color: #ff6f00;
    font-size: 12px;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #ff6f00;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px;
    background-color: #000000;
}

.inicio div {
    width: 800px;
}

.inicio img {
    width: 600px;
    height: 600px;
    object-fit: fill;
    position: relative;
    left: 16px;
    top: -120px;
}

.vermelho {
    color: #ff6f00;
    font-size: 12px;
    letter-spacing: 2px;
}

h1 {
    font-size: 45px;
    margin: 15px 0;
}

h1 span {
    color: #ff6f00;
}

.inicio div > p:not(.vermelho) {
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 25px;
}

.botao {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 22px 70px;
    text-decoration: none;
    border-radius: 100px;
}

.botao:hover {
    background-color: #ff6f00;
}

.sobre {
    background-color: #000000;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.sobre div {
    width: 300px;
}

.sobre img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.sobre h2 {
    margin-bottom: 12px;
}

.sobre p {
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 8px;
}

.titulo {
    text-align: center;
    padding: 60px 20px 40px;
}

.titulo > p:last-child {
    color: #000000;
}

.itens {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 60px;
}

.itens article {
    background-color: #000000;
    border: 1px solid #ffffff;
    padding: 25px;
    border-radius: 65px;
}

.itens article:hover {
    border-color: #ff6f00;
}

.numero {
    color: #ffffff;
}

.itens h2 {
    margin: 8px 0;
}

.itens article p {
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 8px;
}

footer {
    text-align: center;
    background-color: #000000;
    color: #000000;
    padding: 25px;
    font-size: 12px;
}
